* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.operators-container,
.maps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.operator {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: 320px;
}

.map {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: auto;
}
.map h2{
    margin-bottom: 10px;
}

.operator:hover,
.map:hover {
    transform: scale(1.1);
}

.operator img {
    height: 500px;
}

.map img {
    width: 100%;
    max-width: 650px;
}

#title {
    font-size: 40px;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px;
    color: orange
}
.all-operator-link{
    margin-bottom: 20px;
}
.all-operator-link a{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 166, 0);
    font-size: large;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
    transition: color 0.3s ease-in-out;
}
.all-operator-link a:hover{
    color: yellow;
    transition: color 0.3s ease-in-out;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #1a1a1a;
    width: 100%;
    text-align: center;
    margin: 50px 0px 30px 0px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid orange;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;

}

nav ul li a:hover {
    background-color: orange;
    color: black;
}

.bemutato {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    margin-bottom: 40px;
    font-size: 18px;
}

.bemutato h2,
p {
    margin-bottom: 15px;
}

.operator-bemutato h2,
p {
    margin-bottom: 15px;
}

.operator-bemutato h3 {
    margin-top: 15px;
}

.operator-bemutato li {
    margin-bottom: 5px;
}

.cover-text-content {
    flex: 1;
}

.cover-image-container {
    display: flex;
    width: 50%;
    align-items: center;
}

.cover-image-container img {
    width: 100%;
    margin-left: 25px;
}

.operator-bemutato-image {
    display: flex;
    align-items: center;
}

.operator-bemutato-image img {
    margin-left: 25px;
    width: 100%;
}

.operator-bemutato {
    display: flex;
    text-align: left;
    font-size: 18px;
    margin-bottom: 40px;
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: orange;
    padding: 10px;
    text-align: left;

}

.hamburger-menu svg {
    color: orange;
}



@media screen and (max-width: 716px) {
    nav ul li {
        margin-bottom: 40px;
    }

    nav ul li:last-child {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:982px) {
    .bemutato {
        flex-direction: column;
    }

    .cover-image-container {
        width: 100%;
    }

    .operator-bemutato {
        flex-direction: column;
    }

    .operator-bemutato-image {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .hamburger-menu {
        display: block;
    }

    #navbar {
        display: none;
        width: 100%;
        text-align: left;
        margin-top: 15px;
    }

    #navbar li {
        display: block;
    }

}


@media (min-width: 601px) {
    #navbar {
        display: block;
    }
}