* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #c0bab6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    background-color: #232323;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    padding: 10px 20px;
    color: #c0bab6;
    text-decoration: none;
    padding-left: 0px;
}

.header {
    background-color: #333333;
    color: #c0bab6;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.title-container h1,
.title-container h2 {
    margin: 10px 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.content img {
    width: 100%;
    padding: 20px 0;
}

.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-row figure {
    margin-bottom: 20px;
    width: 100%;
    max-width: 290px;
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
}

.image-row img {
    width: 100%;
}

.image-row figcaption {
    text-align: left;
    font-style: italic;
}

.image-row figcaption a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #FF9900;
}

.text-with-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-with-image img {
    width: 100%;
    max-width: 450px;
    margin: 20px 0;
}

.text-with-image a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FF9900;
}

.footer {
    background-color: #232323;
    color: #c0bab6;
    padding: 40px 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.link-block {
    width: 100%;
    max-width: 200px;
    margin: 0 10px;
}

.link-block h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.link-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-block ul li {
    margin-bottom: 10px;
}

.link-block ul li a {
    color: #FF9900;
    text-decoration: none;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .text-with-image {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .text-container {
        align-items: flex-start;
        text-align: left;
    }

    .text-with-image img {
        margin: 0;
    }
    
}
